@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html,body{font-family: "Noto Sans KR", sans-serif; color: #000;}

.container{display: flex;}

.header{width: 400px; height: 100vh; position: fixed; left: 0; top: 0; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-sizing: border-box; padding: 150px 50px; transition: width 0.5s; background-color: white;}

.header_title img{width: 20vw;}
.header_title>p:nth-child(2){margin: 20px 0;}
.header_title>p:nth-child(2)::after{content: ""; display: block; width: 170px; border-top: 2px solid black; margin: -30px 0;}


.sns{display: flex;}
.sns>li{margin-right: 5px; font-weight: bold; font-size: 20px; transition: all 0.3s;}
.sns i{padding: 20px;}
.sns>li:hover{color: #999;}

.btns{display: flex; justify-content: flex-end;}
.btns>li{margin-left: 10px; font: 14px; background-color: white; width: 100px; line-height: 26px; text-align: center; border-radius: 5px; box-shadow: 0,0,10px#dfdfdfc2; cursor: pointer; color: #999;}
.btns>li.on{background: black; color: white; box-shadow: 0px 5px 25px gray;}


.contents{margin-top: 40px; display: flex; flex-wrap: wrap; justify-content: space-between;}

.box{width: 20%; box-sizing: border-box; padding: 12px;}
.inner{background-color: #fff; border-radius: 5px; padding: 15px; box-sizing: border-box;box-shadow: 0px 0px 10px #c9c9c9c2;}
.inner>a{display: block;}
.inner>a img{width: 100%; margin-bottom: 10px;}
.inner>a p:nth-of-type(1){font-weight: 500;}
.inner>a p:nth-of-type(2){color: #999; font-size: 12px;}


.main{margin-left: 400px; width: calc(100% - 400px); box-sizing: border-box; padding: 20px; background: linear-gradient(45deg,#eee,white); min-height: 100vh;}



















/* media query */
@media all and (max-width:1200px) {
 .header{width: 100%; height: 80px; flex-direction: row; padding: 0; align-items: center; position: absolute;}
 .header_title>p{display: none;}
 .header_title::before{content: ""; display: block; margin-left: 15px; font-size: 24px; font-weight: bold;}

 .sns span{display: none;}
 .sns li{font-size: 16px;}

 .main{margin: 0; width: 100%; padding-top: 100px;}
}


/* box 사이즈 조절 */
@media all and (max-width:1600px){
 .box{width: 25%;}
}
@media all and (max-width:900px){
 .box{width: 33.3%;}
}
@media all and (max-width:680px){
 .box{width: 50%;}
}
@media all and (max-width:540px){
 .box{width: 100%;}
}



@media all and (min-width:1201px) and (max-width:1600px){
 .header{width: 350px;}

 .main{width: calc(100% - 350px); margin-left: 350px;}
}